
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f2c4ce;
}

nav {
  background-color: red;
  padding: 20px;
  margin: 0;
}

#one{
  height: 100vh;
  width: 100vw;
}

#two{
  height: 100vh;
  width: 100vw;
  background-color: #ffe3e9;
  
  
}

header{
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
  font-size: 32px;
  width: 70%;
  padding-top: 5%;
  margin-right: 15%;
  margin-left: auto;
  margin-bottom: 10px;
  text-align: center;
  
}



.arrow{
  position: relative;
  width: 3%;
  margin-left: 49%;
  margin-right: auto;
  margin-top: 40px;
  
  
}

#gif{
  width: 70%;
  margin-left: 15%;
  margin-right: auto;
 
  
}
h1{
  width: 50%;
  margin-left: 25%;
  margin-right: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 22px;
  margin-top: 30px;
  
}

h2{
  width: 50%;
  padding-top: 60px;
  margin-left: 25%;
  margin-right: auto;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}

h3{
  margin-top: 20px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  color: #ffffff;
  
}

section{
  height: 100vh;
  width: 100vw;
  
}


section img{
 
}

.images{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  margin-top: 30px;;
  width: 90%;
   margin-left: auto;
  margin-right: auto;
  
}


p{
  z-index: 3;
 
  background-color: #ffffff;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  width: 60%;
  padding: 20px;
  border: 8px solid #ffffff; 
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}




footer{
  z-index: 5;
  position: absolute;
  background-color: red;
  padding: 20px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

footer a{
  text-decoration: none;
  color: #ffffff;
  margin-left: 20px;
}

footer a:hover{
  text-decoration: underline; 
}



@media screen and (max-width: 800px){
  header{
    font-size: 24px;
    margin-top: 100px;
  }
  
  p{
    
    font-size: 12px;
  width: 90%;
  
  }
  
 
  section img{
    
    margin-left: auto;
    margin-right: auto;
     width: 80%;
    height: auto;

  }
  
  h2{
    font-size: 14px;
     width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .images{
    flex-direction: column;
   
    
  }
}
